*, 
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding: 10px
}

hr {
	margin: 15px auto;
	width: 60%;
}

hr:nth-of-type(2) { margin-bottom: 25px; }
hr:last-of-type { margin-top: 25px; } 

h1 {
	text-align: center;
}

section {
	margin: 10px auto;
	width: 900px;
}

h3, p {
	text-align: justify;
}

h3 { margin-bottom: 2px; } 

/*Font Styling*/
h1 { font-family: "Fairplay Display"; font-weight: 800; font-size: 40px; }
h3 { font-family: "Fairplay Display"; font-weight: 600; font-size: 24px; }
p  { font-family: "Libre Baskerville"; font-weight: 400; font-size: 14px; letter-spacing: 0.4px; line-height: 20px; }
